*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-fluid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


/* ============================================= */


/* =================================================== */


.allproducts_container{
    width: 70%;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap !important;
    padding: 15px 0px; 
    gap: 30px 15px;

}

.card_container{
    border: solid 1px gray;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.car{
    text-align: center;
    cursor: pointer;
}

.car img{
    width: 100%;
    margin: auto;
    display: flex;
    height: 270px;
    padding-bottom:20px ;
    object-fit: contain;
    transition: .7s;

}

.car img:hover{
    transform: scale(1.07);

}

.card-title{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 600;

}

.card-text{
    font-weight: 500;
}

.rating{
    font-size: 30px;
    color:#F1CB5A ;
}


/* ====================================================================================== */

.sid_container{
    width: 20%;
}

.Categories{
  padding: 20px 0px ;  
}

.Categories h2{
    font-size: 25px;
    font-weight: 900;
    padding: 20px 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

.category_data{
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    color: gray;
    cursor: pointer;
}

.category_data h6{
    transition: .5s;
}

.category_data h6:hover{
    color: black;
}

.price{
    padding: 20px 0px;
}


details summary {
    border: solid 1px;
    padding: 10px;
    font-size: 20px;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
    border-radius: 7px;
}

details p { 
    border: solid  1px;
    padding: 10px ;
    margin: 5px 0px;
    border-radius: 7px;
}

.filter h2{
    padding: 15px ;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
    font-size: 25px;


}


@media (width<700px) {
    .sid_container{
        width: 80%;
    }

    .allproducts_container{
        width: 90%;
    }
    
}

