<div class="container_carousel">
    <div class="card1">
        <div class="img1">
            <img src="../../assets/maksim-larin-NOpsC3nWTzY-unsplash.jpg" alt="">
            <h2>Shose</h2>
        </div>

        <div class="img2">
            <img src="../../assets/lee-campbell-GI6L2pkiZgQ-unsplash.jpg" alt="">
            <h2>headphones</h2>
       
        </div>

    </div>

    <div class="card1">
        <div class="img3">
            <img src="../../assets/vojtech-bruzek-J82GxqnwKSs-unsplash.jpg" alt="">
            <h2>Mobile</h2>
        </div>

        <div class="img4">
            <img src="../../assets/wiser-by-the-mile-1Frndjy7tkM-unsplash.jpg" alt="">
            <h2>Bags</h2>
       
        </div>

    </div>

    <div class="card1">
        <div class="img1">
            <img src="../../assets/christopher-gower-_aXa21cf7rY-unsplash.jpg" alt="">
            <h2>Electronics</h2>
        </div>

        <div class="img2">
            <img src="../../assets/hannah-morgan-ycVFts5Ma4s-unsplash.jpg" alt="">
            <h2>clothes</h2>
        </div>

    </div>

</div>