<div class="container-fluid">
    <div class="services_container">
        <h1>Services</h1>
    
        <img src="../../assets/features.gif" alt="">

    </div>
    <div class="cards_container">
        <div class="card_service">
            <div class="card_img">
                <i class="fa-solid fa-truck-fast"></i>
                <div class="img_data">
                    <h3>Very Speed </h3>
                </div>
            </div>
            <div class="card_data">
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus, vero.
                </p>
            </div>
        </div>

        <div class="card_service">
            <div class="card_img">
                <i class="fa-solid fa-rotate"></i>
                <div class="img_data">
                    <h3>Easy replace</h3>
                </div>
            </div>
            <div class="card_data">
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus, vero.
                </p>
            </div>
        </div>

        <div class="card_service">
            <div class="card_img">
                <i class="fa-solid fa-house"></i>
                <div class="img_data">
                    <h3>All you want</h3>
                </div>
            </div>
            <div class="card_data">
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus, vero.
                </p>
            </div>
        </div>
    </div>




</div>