.New_collections{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
    flex-wrap: wrap;
    gap: 27px;

}

.new{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
}


.new h1{
    padding: 10px 0px;
}

.new img{
    width: 70px;
    height: 70px;
}
.card1{
    display: flex;
    align-items: center;
    width: 48%;
    border:  1px ;
    padding: 10px;
    box-shadow: 1px 1px 15px rgb(84, 91, 95);
    border-radius: 10px;
}

.card1 .card_img img{
    width: 100%;
    object-fit: contain;
    height: 250px;

}

@media (width<750px) {

    .card1{
        width: 97%;

    }
    
}