<div class="container-fluid">
    <div class="new">
        <h1>NEW COLLECTIONS</h1>
        <img src="../../assets/shopping-cart.gif" alt="">

    </div>
    <div class="New_collections">
    
        <div class="card1" (click)="redirect()">
    
            <div class="card_data">
                <h3>LOOK FOR NEW COLLECTIONS ..!</h3>
            </div>
    
            <div class="card_img">
                <img [src]="allproduct[allproduct?.length-1].image" alt="">
            </div>
    
    
    
        </div>
    
            
        <div class="card1"  (click)="redirect()">
    
            <div class="card_data">
                <h3>LOOK FOR NEW THE COLLECTIONS .. !</h3>
            </div>
    
            <div class="card_img">
                <img [src]="allproduct[allproduct?.length-2].image" alt="">
            </div>
    
    
    
        </div>
    
    
    
    
    
    </div>
</div>
