*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.carousel{
    position: relative;
}

.carousel-inner{
    height: 638px;
}

.carousel-inner .carousel-item img{
    width: 100%;
    height: 638px;
    object-fit: cover !important;
}

.carousel-control-next{
    z-index: 2;
}
.carousel-control-prev{
    z-index: 2;
}


.carousel_data{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%,-50%);
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel_data h2{
    font-size: 60px;
    color: #F3F3F3;
    letter-spacing: 7px;
}

.carousel_data p{
    font-size: 25px;
    font-weight: 700;
    color: #F3F3F3;
}



/* ================================================= */
