
<div id="carouselExampleFade" class="carousel slide carousel-fade">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../assets/marvin-meyer-SYTO3xs06fU-unsplash.jpg" class="" alt="...">
            </div>
            <div class="carousel-item">
            <img src="../../assets/c-d-x-PDX_a_82obo-unsplash (1).jpg" class="" alt="...">
            </div>

            <div class="carousel-item">
            <img src="../../assets/blake-wisz-Xn5FbEM9564-unsplash.jpg" alt="">
            </div>

            
            <div class="carousel-item">
                <img src="../../assets/sanju-pandita-rVFBaBGxufA-unsplash.jpg" alt="">
                </div>
                

        <div class="carousel-item">
            <img src="../../assets/ramshid-pWP5fUaCqVQ-unsplash.jpg" alt="">
        </div>


        </div>
        
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>

    <div class="carousel_data">
        <h2><span class="ani1" style="color: #F3F3F3;">A</span>ll <span style="color: #F3F3F3;">Y</span>ou <span style="color: #F3F3F3;">W</span>ant <span style="color: #F3F3F3;">A</span>nd <span style="color: #F3F3F3;">M</span>ore </h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis consequuntur fugiat delectus cum,
            voluptatum aperiam.</p>
        <div class="carousel_btn d-flex gap-4 py-2">
            <button type="button" class="btn px-4 py-2 btn-primary">Shop Now </button>
            <button type="button" class="btn px-4 py-2 btn-secondary">Read More</button>

        </div>
    </div>
</div>

<app-owl-carousel></app-owl-carousel>

<app-section2></app-section2>

<app-section3></app-section3>

<app-section4></app-section4>

<app-serves></app-serves>